<ul>
  <li>
    <%= link_to '#', id: "button-edit-#{question.id}" do %>
      <%= icon 'fa', 'pen' %>
    <% end %>
  </li>
  <li>
    <%= link_to '#', id: "button-delete-#{question.id}" do %>
      <%= icon 'fas', 'trash' %>
    <% end %>
  </li>
</ul>