<% content_for(:title, t('.title')) %>
<div class="grid grid-cols-1 place-content-center">
  <div class="text-2xl font-bold justify-self-center px-3 mt-10 mb-10"><%= t('.head') %></div>
  <%= render 'form', { question: @question, tag_list: @tag_list } %>
</div>