<footer>
<div class="container">
<div>
<div class="row">
<div class="col-sm-4">
<%= link_to root_path do %>
<%= image_tag "footer__logo.png" %>
<h3>
コノタメ
</h3>
<% end %>
<div class="col-sm-2">
<h4>サービス</h4>
<ul class="footer__menus">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</div>
<div class="col-sm-2">
<h4>サポート</h4>
<ul class="footer__menus">
<li><a target="_blank" href="/about">運営会社</a></li>
<li></li>
<li><a href="/policy">利用規約</a></li>
<li><a href="/business_policy">法人プラン利用規約</a></li>
<li><a href="/legal">特定商取引法に基づく表示</a></li>
<li><a href="/privacy_policy">プライバシーポリシー</a></li>
</ul>
</div>
<div class="footer__copyright col-sm-12">© 2022 ５マイクロ, LLC.</div>
</div>
</div>
</div>
</footer>