<footer>
  <div class="grid grid-cols-8 gap-4 text-center py-20">
    <div class="md:col-span-3 col-span-8 px-4 py-5 justify-self-center">
      <%= link_to root_path do %>
        <%= image_tag "footer__logo.png" %>
      <% end %>
    </div>
    <div class="md:col-start-4 md:col-span-2 col-span-6 py-5">
      <div class="text-lg text-gray-900 py-1">サービス</div>
      <ul class="text-sm text-gray-700">
        <li class="py-1">質問一覧</li>
        <li class="py-1">エビデンス一覧</li>
      </ul>
    </div>
    <div class="md:col-start-6 md:col-span-2 col-span-6 py-5">
      <div class="text-lg text-gray-900 py-1">サポート</div>
      <ul class="text-sm text-gray-700">
        <li class="py-1">お知らせ</li>
        <li class="py-1"><a href="/policy">利用規約</a></li>
        <li class="py-1"><a href="/privacy_policy">プライバシーポリシー</a></li>
        <li class="py-1"><a href="/privacy_policy">お問合せ</a></li>
      </ul>
    </div>
  
    <div class="col-span-8 text-xs text-gray-700 py-10">&copy;2022 ５マイクロ, LLC.</div>
  </div>
</footer>